<%= form_with(model: dossier, local: true) do |form| %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ecole_id %>
    <%= form.select :ecole_id, Ecole.pluck(:libelle, :id) %>
  </div>

  <div class="actions">
    <%= form.submit "VALIDER", :class => 'btn btn-primary' %>
  </div>
<% end %>
