<%= form_with(model: dossier, local: true) do |form| %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.hidden_field :ecole_id %>
  </div>

  <div class="actions">
    <%= form.submit "VALIDER", :class => 'btn btn-primary' %>
  </div>
<% end %>
