<div class="container">
  <div class="row">
    <h4>Liste des dossiers</h4>
    <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      Nouveau dossier
    </button>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="" id="" placeholder="@recherche">
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Libelle</th>
            <th>Ecole</th>
            <% if Admin? %>
            <th colspan="1">Action</th>
            <% end %>
          </tr>
        </thead>
      
        <tbody id="tbody">
          <% @dossiers.each do |dossier| %>
            <tr>
              <td><%= dossier.libelle %></td>
              <td><%= dossier.ecole.libelle %></td>
              <!-- <td><%= link_to 'Show', dossier %></td> -->
              <% if Admin? %>
                <td><%= link_to 'Modifier', edit_dossier_path(dossier), :class => 'action-link-color' %></td>
              <% end %>
              <!-- <td><%= link_to 'Destroy', dossier, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      
    </table>
    <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
    <%= link_to_previous_page @dossiers, '< Précedent' %>
    <%= link_to_next_page @dossiers, 'Suivant >' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEAU DOSSIER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', dossier: @dossier %>
      </div>
    </div>
  </div>
</div>

<script>

    $('#search').on('input', () => {
      let search = $('#search').val();
      $.get('/dossiers/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>