<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des dossiers</h4>
    <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      Nouveau dossier
    </button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Libelle</th>
            <th>Ecole</th>
          </tr>
        </thead>
      
        <tbody>
          <% @dossiers.each do |dossier| %>
            <tr>
              <td><%= dossier.libelle %></td>
              <td><%= dossier.ecole_id %></td>
              <td><%= link_to 'Show', dossier %></td>
              <td><%= link_to 'Edit', edit_dossier_path(dossier) %></td>
              <td><%= link_to 'Destroy', dossier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      
    </table>
    <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEAU DOSSIER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', dossier: @dossier %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
