<%= form_with(model: annee, local: true) do |form| %>
  <% if annee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annee.errors.count, "error") %> prohibited this annee from being saved:</h2>

      <ul>
        <% annee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :etat %>
    <%= form.check_box :etat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
