<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des années scolaires</h4>
    <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      Ajouter année
    </button>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="" id="search" placeholder="@recherche">
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Libelle</th>
            <th>Etat</th>
            <th>User</th>
            <th colspan="1">Action</th>
          </tr>
        </thead>
        
        <tbody id="tbody">
          <% @annees.each do |annee| %>
            <tr>
              <td><%= annee.libelle %></td>
              <td><%= "Active " if annee.etat %><%= "Non active " if !annee.etat %></td>
              <td><%= annee.admin.email %></td>
              <% if admin_signed_in? %>
                <td><%= link_to 'Modifier', edit_annee_path(annee), :class => 'action-link-color' %></td>
              <% end %>
              <!--<td><%= link_to 'Destroy', annee, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
    <%= link_to_previous_page @annees, '< Précedent' %>
    <%= link_to_next_page @annees, 'Suivant >' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVELLE ANNEE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', annee: @annee %>
      </div>
    </div>
  </div>
</div>   

<script>

    $('#search').on('input', () => {
      let search = $('#search').val();
      $.get('/annees/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>