<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @annee.libelle %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @annee.etat %>
</p>

<p>
  <strong>User:</strong>
  <%= @annee.user.email %>
</p>

<%= link_to 'Edit', edit_annee_path(@annee) %> |
<%= link_to 'Back', annees_path %>
