<% heures.each do |heure| %>
    <tr>
    <td><%= heure.libelle %></td>
    <td><%= heure.ecole_id %></td>
    <td><%= heure.user_id %></td>
    <td><%= link_to 'Show', heure %></td>
    <td><%= link_to 'Edit', edit_heure_path(heure) %></td>
    <td><%= link_to 'Destroy', heure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>