<p id="notice"><%= notice %></p>

<h1>Disponibilites</h1>

<table>
  <thead>
    <tr>
      <th>Creneau</th>
      <th>Enseignant</th>
      <th>Jour</th>
      <th>User</th>
      <th>Ecole</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disponibilites.each do |disponibilite| %>
      <tr>
        <td><%= disponibilite.creneau_id %></td>
        <td><%= disponibilite.enseignant_id %></td>
        <td><%= disponibilite.jour_id %></td>
        <td><%= disponibilite.user_id %></td>
        <td><%= disponibilite.ecole_id %></td>
        <td><%= link_to 'Show', disponibilite %></td>
        <td><%= link_to 'Edit', edit_disponibilite_path(disponibilite) %></td>
        <td><%= link_to 'Destroy', disponibilite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disponibilite', new_disponibilite_path %>
