<p id="notice"><%= notice %></p>

<p>
  <strong>Creneau:</strong>
  <%= @disponibilite.creneau_id %>
</p>

<p>
  <strong>Enseignant:</strong>
  <%= @disponibilite.enseignant_id %>
</p>

<p>
  <strong>Jour:</strong>
  <%= @disponibilite.jour_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @disponibilite.user_id %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @disponibilite.ecole_id %>
</p>

<%= link_to 'Edit', edit_disponibilite_path(@disponibilite) %> |
<%= link_to 'Back', disponibilites_path %>
