<% semestres.each do |semestre| %>
          <tr>
            <td><%= semestre.libelle %></td>
            <td><%= semestre.user.email if semestre.user_id %></td>
            <td><%= link_to 'Show', semestre %></td>
            <% if Admin? %>
              <td><%= link_to 'Edit', edit_semestre_path(semestre) %></td>
            <% end %>
            <!--<td><%= link_to 'Destroy', semestre, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
          <% end %>