<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header">
            <h2 class="text-center">NOUVEAU SEMESTRE</h2>
            </div>
            <div class="card-body">
                <%= render 'form', semestre: @semestre %>
            </div>
            <div class="card-footer">
                <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %> 
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES SEMESTRES</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Admin</th>
                    <th>User</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @semestres.each do |semestre| %>
                    <tr>
                      <td><%= semestre.libelle %></td>
                      <td><%= Admin.find_by_id(semestre.admin_id).email if semestre.admin_id %></td>
                      <td><%= User.find_by_id(semestre.user_id).email if semestre.user_id %></td>
                      <td><%= link_to 'Show', semestre %></td>
                      <% if admin_signed_in? %>
                        <td><%= link_to 'Edit', edit_semestre_path(semestre) %></td>
                      <% end %>
                      <!--<td><%= link_to 'Destroy', semestre, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>

          <%= link_to_previous_page @semestres, '< Précedent' %>
          <%= link_to_next_page @semestres, 'Suivant >' %>

        </div>
      </div>
    </div>
  </div>