
          <% enseignants.each do |enseignant| %>
          <tr>
            <td><%= enseignant.nom %></td>
            <td><%= enseignant.prenom %></td>
            <td><%= enseignant.contact %></td>
            <td><%= enseignant.email %></td>
            <td><%= enseignant.adresse %></td>
            <td><%= enseignant.ecole.libelle %></td>
            <td><%= enseignant.user.email if enseignant.user_id %></td>
            <!-- <td><%= link_to 'Show', enseignant %></td> -->
            <% if Admin? %>
              <td><%= link_to 'Modifier', edit_enseignant_path(enseignant), :class => 'action-link-color' %></td>
            <% end %>
            <!-- <td><%= link_to 'Destroy', enseignant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
          <% end %>