<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des enseignants</h4>
    <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      Nouvel Enseignant
    </button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ecole</th>
            <th>User</th>
            <th>Admin</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @enseignants.each do |enseignant| %>
            <tr>
              <td><%= enseignant.nom %></td>
              <td><%= enseignant.prenom %></td>
              <td><%= enseignant.contact %></td>
              <td><%= enseignant.email %></td>
              <td><%= enseignant.adresse %></td>
              <td><%= enseignant.ecole.libelle %></td>
              <td><%= Admin.find_by_id(enseignant.admin_id).email if enseignant.admin_id %></td>
              <td><%= User.find_by_id(enseignant.user_id).email if enseignant.user_id %></td>
              <td><%= link_to 'Show', enseignant %></td>
              <td><%= link_to 'Edit', edit_enseignant_path(enseignant) %></td>
              <td><%= link_to 'Destroy', enseignant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
    <%= link_to_previous_page @enseignants, '< Précedent' %>
    <%= link_to_next_page @enseignants, 'Suivant >' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEL ENSEIGNANT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'form', enseignant: @enseignant %>
      </div>
    </div>
  </div>
</div>