<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des enseignants</h4>
    <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      Nouvel Enseignant
    </button>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="" id="search" placeholder="@recherche">
    </div>
  </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES ENSEIGNANTS</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Ecole</th>
                    <th>Admin</th>
                    <th>User</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
              
                <tbody id="tbody">
                  <% @enseignants.each do |enseignant| %>
                    <tr>
                      <td><%= enseignant.nom %></td>
                      <td><%= enseignant.prenom %></td>
                      <td><%= enseignant.contact %></td>
                      <td><%= enseignant.email %></td>
                      <td><%= enseignant.adresse %></td>
                      <td><%= enseignant.ecole.libelle %></td>
                      <td><%= Admin.find_by_id(enseignant.admin_id).email if enseignant.admin_id %></td>
                      <td><%= User.find_by_id(enseignant.user_id).email if enseignant.user_id %></td>
                      <td><%= link_to 'Show', enseignant %></td>
                      <% if admin_signed_in? %>
                        <td><%= link_to 'Edit', edit_enseignant_path(enseignant) %></td>
                      <% end %>  
                      <!--<td><%= link_to 'Destroy', enseignant, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>

          <%= link_to_previous_page @enseignants, '< Précedent' %>
          <%= link_to_next_page @enseignants, 'Suivant >' %>

        </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEL ENSEIGNANT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'form', enseignant: @enseignant %>
      </div>
    </div>
  </div>
</div>

<script>

  $('#search').change(function (event) {
      let search = $('#search').val();
      $.get('/enseignants/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>