<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
      <h4>Liste des créneaux</h4>
      <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
        Ajouter créneau 
      </button>
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" name="" id="" placeholder="@recherche">
      </div>
      <table class="table table-bordered table-striped"">
          <thead class="thead-dark">
            <tr>
              <th>Debut</th>
              <th>Fin</th>
              <th>Admin</th>
              <th>User</th>
              <th>Ecole</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @creneaus.each do |creneau| %>
              <tr>
                <td><%= creneau.debut %></td>
                <td><%= creneau.fin %></td>
                <td><%= Admin.find_by_id(creneau.admin_id).email if creneau.admin_id %></td>
                <td><%= User.find_by_id(creneau.user_id).email if creneau.user_id %></td>
                <td><%= creneau.ecole.libelle %></td>
                <td><%= link_to 'Show', creneau %></td>
                <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
                <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
      <%= link_to_previous_page @creneaus, '< Précedent' %>
      <%= link_to_next_page @creneaus, 'Suivant >' %>
    </div>
  </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES CRENEAUX</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Debut</th>
                    <th>Fin</th>
                    <th>Admin</th>
                    <th>User</th>
                    <th>Ecole</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @creneaus.each do |creneau| %>
                    <tr>
                      <td><%= creneau.debut %></td>
                      <td><%= creneau.fin %></td>
                      <td><%= Admin.find_by_id(creneau.admin_id).email if creneau.admin_id %></td>
                      <td><%= User.find_by_id(creneau.user_id).email if creneau.user_id %></td>
                      <td><%= creneau.ecole.libelle %></td>
                      <td><%= link_to 'Show', creneau %></td>
                      <% if admin_signed_in? %>
                        <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
                      <% end %>
                      <!--<td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEAU CRÉNEAU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'form', creneau: @creneau %>
      </div>
    </div>
  </div>
</div>