<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
      <h4>Liste des créneaux</h4>
      <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
        Ajouter créneau 
      </button>
      <table class="table table-bordered table-striped"">
          <thead class="thead-dark">
            <tr>
              <th>Debut</th>
              <th>Fin</th>
              <th>Admin</th>
              <th>User</th>
              <th>Ecole</th>
            </tr>
          </thead>
        
          <tbody>
            <% @creneaus.each do |creneau| %>
              <tr>
                <td><%= creneau.debut %></td>
                <td><%= creneau.fin %></td>
                <td><%= creneau.admin_id %></td>
                <td><%= creneau.user_id %></td>
                <td><%= creneau.ecole_id %></td>
                <td><%= link_to 'Show', creneau %></td>
                <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
                <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NOUVEAU CRÉNEAU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'form', creneau: @creneau %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>