<p id="notice"><%= notice %></p>

<h1>Creneaus</h1>

<table>
  <thead>
    <tr>
      <th>Debut</th>
      <th>Fin</th>
      <th>Admin</th>
      <th>User</th>
      <th>Ecole</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%= creneau.debut %></td>
        <td><%= creneau.fin %></td>
        <td><%= creneau.admin_id %></td>
        <td><%= creneau.user_id %></td>
        <td><%= creneau.ecole_id %></td>
        <td><%= link_to 'Show', creneau %></td>
        <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
        <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creneau', new_creneau_path %>
