<%= form_with(model: classe_room, local: true) do |form| %>
  <% if classe_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classe_room.errors.count, "error") %> prohibited this classe_room from being saved:</h2>

      <ul>
        <% classe_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :etat %>
    <%= form.check_box :etat %>
  </div>

  <div class="field">
    <%= form.label :montant %>
    <%= form.number_field :montant %>
  </div>

  <div class="field">
    <%= form.label :ecole_id %>
    <%= form.select :ecole_id, Ecole.pluck(:libelle, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
