<%= form_with(model: classe_room, local: true) do |form| %>
  <% if classe_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classe_room.errors.count, "error") %> prohibited this classe_room from being saved:</h2>

      <ul>
        <% classe_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Libelle %>
    <%= form.text_field :libelle, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :Etat %>
    <%= form.check_box :etat %>
  </div>

  <div class="field">
    <%= form.label :Montant %>
    <%= form.number_field :montant, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ecole_id %>
    <%= form.select :ecole_id, Ecole.pluck(:libelle, :id) %>
  </div>

  <div class="field">
    <%= form.label 'Les matières à enseigner dans cette classe' %>
    <%= form.collection_check_boxes(:matiere_ids, Matiere.all, :id, :libelle) %>
  </div><br>

  <div class="actions">
    <%= form.submit "VALIDER", :class => 'btn btn-primary' %>
  </div>
<% end %>
