<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <h4>Liste des classes</h4>
      <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
        Ajouter une classe
      </button>
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" name="" id="search" placeholder="@recherche">
      </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Libelle</th>
            <th>Etat</th>
            <th>Utilisateur</th>
            <th>Admin</th>
            <th>Montant</th>
            <th>Ecole</th>
            <% if admin_signed_in? %>
            <th colspan="1">Action</th>
            <% end %>
          </tr>
        </thead>
      
        <tbody id="tbody">
          <% @classe_rooms.each do |classe_room| %>
            <tr>
              <td><%= classe_room.libelle %></td>
              <td><%= "Active " if classe_room.etat %><%= "Non active " if !classe_room.etat %></td>
              <td><%= User.find_by_id(classe_room.user_id).email if classe_room.user_id %></td>
              <td><%= Admin.find_by_id(classe_room.admin_id).email if classe_room.admin_id %></td>
              <td><%= classe_room.montant %></td>
              <td><%= classe_room.ecole.libelle %></td>
              <!-- <td><%= link_to 'Show', classe_room %></td> -->
              <% if admin_signed_in? %>
                <td><%= link_to 'Modifier', edit_classe_room_path(classe_room), :class => 'action-link-color' %></td>
              <% end %>
              <!-- <td><%= link_to 'Destroy', classe_room, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
      <%= link_to_previous_page @classe_rooms, '< Précedent' %>
      <%= link_to_next_page @classe_rooms, 'Suivant >' %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NOUVELLE CLASSE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', classe_room: @classe_room %>
        </div>
      </div>
    </div>
</div>


<script>

    $('#search').on('input', () => {
      let search = $('#search').val();
      $.get('/classe_rooms/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>