<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header">
            <h2 class="text-center">NOUVELLE CLASSE</h2>
            </div>
            <div class="card-body">
                <%= render 'form', classe_room: @classe_room %>
            </div>
            <div class="card-footer">
                <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %> 
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card">
      <div class="card-header">
      <h2 class="text-center">LISTE DES CLASSES</h2>
      </div>
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Libelle</th>
                  <th>Etat</th>
                  <th>User</th>
                  <th>Montant</th>
                  <th>Ecole</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
            
              <tbody>
                <% @classe_rooms.each do |classe_room| %>
                  <tr>
                    <td><%= classe_room.libelle %></td>
                    <td><%= classe_room.etat %></td>
                    <td><%= classe_room.user_id %></td>
                    <td><%= classe_room.montant %></td>
                    <td><%= classe_room.ecole_id %></td>
                    <td><%= link_to 'Show', classe_room %></td>
                    <td><%= link_to 'Edit', edit_classe_room_path(classe_room) %></td>
                    <td><%= link_to 'Destroy', classe_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
      </div>
      <div class="card-footer">
          <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>