<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-school fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @avoir %> F</b></h5>
                    <p>Montant qui doit être perçus en fonction des inscrits</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-hand-holding-usd fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @deja_perçu %> F</b></h5>
                    <p>Montant perçus</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-coins fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @reste %> Fcfa</b></h5>
                    <p>Montant qui reste à precevoir en fonction des inscrits</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-money-check-alt fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @depense %> Fcfa</b></h5>
                    <p>Montant des depenses</p>
                </div>
            </div>  
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-wallet fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @solde %> Fcfa</b></h5>
                    <p>Solde actuelle</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-user-graduate fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @total_inscrits %></b></h5>
                    <p>Total des inscrits</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-users fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @total_classes %></b></h5>
                    <p>Total des classes</p>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h5><i class="fas fa-home fa-2x" style="color:#fff"></i>&nbsp;&nbsp;<b><%= @total_salles %></b></h5>
                    <p>Total des salles</p>
                </div>
            </div>  
        </div>
    </div>
</div>