<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="text-center">Montant qui doit être perçus en fonction des inscrits</h6>
                    <h5 class="text-center"><b><%= @avoir %> Fcfa</b></h5>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="text-center">Montant perçus</h6>
                    <h5 class="text-center"><b><%= @deja_perçu %> Fcfa</b></h5>
                </div>
            </div>  
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="text-center">Montant qui reste à precevoir en fonction des inscrits</h6>
                    <h5 class="text-center"><b><%= @reste %> Fcfa</b></h5>
                </div>
            </div>  
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="text-center">Montant des depenses</h6>
                    <h5 class="text-center"><b><%= @depense %> Fcfa</b></h5>
                </div>
            </div>  
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="text-center">Solde actuelle</h6>
                    <h5 class="text-center"><b><%= @solde %> Fcfa</b></h5>
                </div>
            </div>  
        </div>
    </div>
</div>