<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                NOUVEL UTILISATEUR
            </h5>
        </div>
        <div class="modal-body">
            <%= form_for(@user, url: create_user_path(@user)) do |f| %>
            <div class="row">
            <div class="col-4">
                <div class="field">
                <%= f.label :Email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
                </div>
        
                <div class="field">
                <%= f.label :'Mot de passe' %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caractères minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
                </div>
        
                <div class="field">
                <%= f.label :'Confirmer mot de passe' %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
                </div>
            </div>
        
            <div class="col-4">
                <div class="field">
                <%= f.label :Nom %><br />
                <%= f.text_field :nom, autocomplete: "nom", :class => 'form-control' %>
                </div>
        
                <div class="field">
                    <%= f.label :Prenom %><br />
                    <%= f.text_field :prenom, autocomplete: "prenom", :class => 'form-control' %>
                </div>
        
                <div class="field">
                    <%= f.label :Fonction %><br />
                    <%= f.text_field :fonction, autocomplete: "fonction", :class => 'form-control' %>
                </div>
        
                <div class="field">
                    <%= f.label :Adresse %><br />
                    <%= f.text_field :adresse, autocomplete: "adresse", :class => 'form-control' %>
                </div>
            </div>
        
            <div class="col-4">
                <div class="field">
                    <%= f.label :Contact %><br />
                    <%= f.number_field :contact, autocomplete: "contact", :class => 'form-control' %>
                </div>
        
                <div class="field">
                <%= f.label :Genre %><br />
                <div class="genre">
                    Homme <%= f.radio_button :sexe, "Homme"%>
                    Femme <%= f.radio_button :sexe, "Femme"%>
                </div>
                </div>
        
                <div class="field">
                    <%= f.label 'Activer l\'utilisateur' %>
                    <%= f.check_box :etat, autocomplete: "etat" %>
                </div>
        
                <div class="field">
                    <%= f.hidden_field :ecole_id %>
                </div>  
            
                </div>
                </div>
            <% if Admin? %>
                <div class="field">
                    <%= f.label :Categorie %>
                    <%= f.select :categorie, ['Directeur', 'Autre'], :class => 'form-control' %>
                </div>
            <% else %>
                <div class="field">
                    <%= f.label :Categorie %>
                    <%= f.select :categorie, ['Autre'], :class => 'form-control' %>
                </div>
            <% end %>
        
            <div class="actions">
            <%= f.submit "VALIDER", :class => 'btn btn-success' %>
            <%= link_to "RETOUR", :back, :class => 'btn btn-default' %>
            </div>
            <% end %>
        </div>
    
        <div class="card-footer">
        </div>
        
        </div>
        </div>

</div>
    
<script type="text/javascript">
$(document).ready(
    $('#exampleModal').modal('toggle')
);
</script>