<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des utilisateurs</h4>
    <% if admin_signed_in? %>
      <%= link_to 'AJOUTER', new_user_registration_path, :class => 'btn btn-success table-modal-btn' %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'AJOUTER', new_user_path, :class => 'btn btn-success table-modal-btn' %>
    <% end %>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="" id="search" placeholder="@recherche">
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Email</th>
            <th>Nom </th>
            <th>Prénom </th>
            <th>Contact</th>
            <th>Presence</th>
            <th>Connexion</th>
            <th>Deconnexion</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
      
        <tbody id="tbody">
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.nom %></td>
              <td><%= user.prenom %></td>
              <td><%= user.contact %></td>
              <td><%= 'Connecter' if user.presence %><%= 'Non connecter' if !user.presence %></td>
              <td><%= user.date_derniere_connexion %></td>
              <td><%= user.date_derniere_deconnexion %></td>
              <td>
                <%= link_to 'Activer', activer_path(user), method: :put unless user.etat %> 
                <%= link_to 'Desactiver', desactiver_path(user), method: :patch, data: { confirm: 'Voulez-vous desactiver l\'user?' } if user.etat %> 
      
              </td>
              <!-- <td><%= link_to 'Afficher', user, :class => 'action-link-color' %></td> -->
              <% if admin_signed_in? %>
                <td><%= link_to 'Modifier', edit_user_registration_path(user), :class => 'action-link-color' %></td>
              <% end %>
              <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= link_to_previous_page @users, '< Précedent' %>
    <%= link_to_next_page @users, 'Suivant >' %>
  </div>
</div>

  
<script>

    $('#search').on('input', () => {
      let search = $('#search').val();
      $.get('/pages/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>