<p id="notice"><%= notice %></p>

<h1>Jours</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Ecole</th>
      <th>User</th>
      <th>Admin</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="tbody">
    <% @jours.each do |jour| %>
      <tr>
        <td><%= jour.libelle %></td>
        <td><%= jour.ecole_id %></td>
        <td><%= Admin.find_by_id(jour.admin_id).email if jour.admin_id %></td>
        <td><%= User.find_by_id(jour.user_id).email if jour.user_id %></td>
        <td><%= link_to 'Show', jour %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_jour_path(jour) %></td>
        <% end %>
        <!--<td><%= link_to 'Destroy', jour, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_previous_page @jours, '< Précedent' %>
<%= link_to_next_page @jours, 'Suivant >' %>
<br>

<%= link_to 'New Jour', new_jour_path %>

<script>

  $('#search').change(function (event) {
      let search = $('#search').val();
      $.get('/jours/search', { id_search: search }, (data) =>{
        $('#tbody').empty()
        $('#tbody').append(data);
      })
  });
  </script>