<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @jour.libelle %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @jour.ecole_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @jour.user_id %>
</p>


<%= link_to 'Edit', edit_jour_path(@jour) %> |
<%= link_to 'Back', jours_path %>
