<p id="notice"><%= notice %></p>

<h1>Inscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Etudiant</th>
      <th>User</th>
      <th>Annee</th>
      <th>Classe room</th>
      <th>Ecole</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.etudiant_id %></td>
        <td><%= inscription.user_id %></td>
        <td><%= inscription.annee_id %></td>
        <td><%= inscription.classe_room_id %></td>
        <td><%= inscription.ecole_id %></td>
        <td><%= inscription.montant %></td>
        <td><%= link_to 'Show', inscription %></td>
        <td><%= link_to 'Edit', edit_inscription_path(inscription) %></td>
        <td><%= link_to 'Destroy', inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscription', new_inscription_path %>
