<%= form_with(model: versement, local: true) do |form| %>
  <% if versement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(versement.errors.count, "error") %> prohibited this versement from being saved:</h2>

      <ul>
        <% versement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :montant %>
    <%= form.number_field :montant %>
  </div>

  <% if !@versement.persisted? %>
    <div class="field">
      <%= form.label :etudiant_id %>
      <%= form.select :etudiant_id, Etudiant.pluck(:nom, :id) %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :annee_id %>
    <%= form.hidden_field :annee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
