<h3>
<%= "#{@etudiant.nom} #{@etudiant.prenom}" %>
</h3>
<b><%= "Reste à payer: #{@reste}" %></b><br>
<div class="container">
  <div class="row">
    <h4 class="text-center">LISTE DES VERSEMENTS</h4>
    <%= link_to 'Nouveau versement', new_etudiant_versement_path(params[:etudiant_id]), :class => 'btn btn-success table-modal-btn' %>
   <!--  <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
        Nouveau versement
    </button> -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Montant</th>
            <th>User</th>
            <th>Ecole</th>
            <th>Annee</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>
      
        <tbody>
          <% @versements.each do |versement| %>
            <tr>
              <td><%= versement.montant %></td>
              <td><%= versement.user.email if versement.user_id %></td>
              <td><%= versement.ecole.libelle %></td>
              <td><%= versement.annee.libelle %></td>
              <!-- <td><%= link_to 'Show', versement %></td>
              <td><%= link_to 'Edit', edit_etudiant_versement_path(@etudiant, versement) %></td>
              <td><%= link_to 'Destroy', versement, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= link_to 'RETOUR', :back, :class => 'btn btn-default' %>
  </div>
</div>