<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h4>Liste des étudiants</h4>
    <button type="button" class="btn btn-default table-modal-btn" data-toggle="modal" data-target="#exampleModal">
      
    </button>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="" id="" placeholder="@recherche">
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nom</th>
            <th>Matricule</th>
            <th>Num inscription</th>
            <th>Classe</th>
            <th>Oriente</th>
            <th>Ecole</th>
            <th colspan="4"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @etudiants.each do |etudiant| %>
            <tr>
              <td><%= etudiant.nom %></td>
              <td><%= etudiant.matricule %></td>
              <td><%= etudiant.num_inscription %></td>
              <td><%= etudiant.classe_room.libelle %></td>
              <td><%= etudiant.oriente %></td>
              <td><%= etudiant.ecole.libelle %></td>
              <td><%= link_to 'Versement', etudiant_versements_path(etudiant) %></td>
              <td><%= link_to 'Show', etudiant %></td>
              <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
              <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= link_to_previous_page @etudiants, '< Précedent' %>
    <%= link_to_next_page @etudiants, 'Suivant >' %>
  </div>
</div>
