<p id="notice"><%= notice %></p>

<h1>Depenses</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Montant</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @depenses.each do |depense| %>
      <tr>
        <td><%= depense.libelle %></td>
        <td><%= depense.montant %></td>
        <td><%= User.find_by_id(depense.user_id).email if depense.user_id %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Retour', caisses_path %>

<%= link_to_previous_page @depenses, '< Précedent' %>
<%= link_to_next_page @depenses, 'Suivant >' %>