<div class="container">
    <h4>Caisse</h4>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
              Entrée <input type="text" value="<%= @entrée %>" disabled class="form-control">
          </div>
          <div class="col">
              Sortie <input type="text" value="<%= @sortie %>" disabled class="form-control">
          </div>
          <div class="col">
          Solde <input type="text" value="<%= @solde %>" disabled class="form-control">
          </div>
        </div>
      </div>
    </div><br><br>
    
<div class="row">
  <h4>Liste des dépenses</h4>
  <button type="button" class="btn btn-success table-modal-btn" data-toggle="modal" data-target="#exampleModal">
    Ajouter depense
  </button>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Motif</th>
        <th>Auteur</th>
        <th>Montant</th>
      </tr>
    </thead>
  
    <tbody>
      <% @sorties.each do |sortie| %>
        <tr>
          <td><%= sortie.created_at %></td>
          <td><%= sortie.libelle %></td>
          <td>
            <%= User.find_by_id(sortie.user_id).email if sortie.user_id %>
            <%= Admin.find_by_id(sortie.admin_id).email if sortie.admin_id %>
          </td>
          <td><%= sortie.montant %></td> </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NOUVELLE DEPENSE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'depense_new', caisse: @caisse %>
        </div>
      </div>
    </div>
  </div>  