<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col">
            Entrée <input type="text" value="<%= @entrée %>" disabled>
        </div>
        <div class="col">
            Sortie <input type="text" value="<%= @sortie %>" disabled>
        </div>
        <div class="col">
        Solde <input type="text" value="<%= @solde %>" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button><%= link_to  "Depenses", depense_new_caisses_path %></button>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Libelle</th>
                <th>Auteur</th>
                <th>Montant</th>
              </tr>
            </thead>
          
            <tbody>
              <% @sorties.each do |sortie| %>
                <tr>
                  <td><%= sortie.created_at %></td>
                  <td><%= sortie.libelle %></td>
                  <td>
                    <%= User.find_by_id(sortie.user_id).email if sortie.user_id %>
                    <%= Admin.find_by_id(sortie.admin_id).email if sortie.admin_id %>
                  </td>
                  <td><%= sortie.montant %></td> </tr>
              <% end %>
            </tbody>
          </table>
    </div>

</div>