<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col">
            Entrée <input type="text" value="<%= @entrée %>" disabled>
        </div>
        <div class="col">
            Sortie <input type="text" value="<%= @sortie %>" disabled>
        </div>
        <div class="col">
        Solde <input type="text" value="<%= @solde %>" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><%= link_to  "Nouvelle depense", depense_new_caisses_path %></div>
    </div>
</div>