<% salles.each do |salle| %>
    <tr>
    <td><%= salle.libelle %></td>
    <td><%= salle.ecole.libelle %></td>
    <td><%= salle.user.email if salle.user_id %></td>
    <td><%= link_to 'Show', salle %></td>
    <% if Admin? %>
        <td><%= link_to 'Edit', edit_salle_path(salle) %></td>
    <%  end %>
    <!--<td><%= link_to 'Destroy', salle, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
    <% end %>