<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header">
            <h2 class="text-center">NOUVELLE SALLE</h2>
            </div>
            <div class="card-body">
                <%= render 'form', salle: @salle %>
            </div>
            <div class="card-footer">
                <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %> 
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES MATIÈRES</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Ecole</th>
                    <th>User</th>
                    <th>Admin</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @salles.each do |salle| %>
                    <tr>
                      <td><%= salle.libelle %></td>
                      <td><%= salle.ecole.libelle %></td>
                      <td><%= Admin.find_by_id(salle.admin_id).email if salle.admin_id %></td>
                      <td><%= User.find_by_id(salle.user_id).email if salle.user_id %></td>
                      <td><%= link_to 'Show', salle %></td>
                      <td><%= link_to 'Edit', edit_salle_path(salle) %></td>
                      <td><%= link_to 'Destroy', salle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>

          <%= link_to_previous_page @salles, '< Précedent' %>
          <%= link_to_next_page @salles, 'Suivant >' %>

        </div>
      </div>
    </div>
  </div>
