
          <% @matieres.each do |matiere| %>
          <tr>
            <td><%= matiere.libelle %></td>
            <td><%= matiere.ecole.libelle %></td>
            <td><%= matiere.user.email if matiere.user_id %></td>
            <!-- <td><%= link_to 'Show', matiere %></td> -->
            <% if Admin? %>
              <td><%= link_to 'Modifier', edit_matiere_path(matiere), :class => 'action-link-color' %></td>
            <% end %>
            <!--<td><%= link_to 'Destroy', matiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
          <% end %>