<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-header">
            <h2 class="text-center">NOUVELLE MATIÈRE</h2>
            </div>
            <div class="card-body">
                <%= render 'form', matiere: @matiere %>
            </div>
            <div class="card-footer">
                <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %> 
            </div>
        </div>
    </div>
</div>

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES MATIÈRES</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Ecole</th>
                    <th>User</th>
                    <th>Admin</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @matieres.each do |matiere| %>
                    <tr>
                      <td><%= matiere.libelle %></td>
                      <td><%= matiere.ecole.libelle %></td>
                      <td><%= Admin.find_by_id(matiere.admin_id).email if matiere.admin_id %></td>
                      <td><%= User.find_by_id(matiere.user_id).email if matiere.user_id %></td>
                      <td><%= link_to 'Show', matiere %></td>
                      <% if admin_signed_in? %>
                        <td><%= link_to 'Edit', edit_matiere_path(matiere) %></td>
                      <% end %>
                      <!--<td><%= link_to 'Destroy', matiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <%= link_to 'RETOUR', configuration_path, :class => 'btn btn-default' %>

          <%= link_to_previous_page @matieres, '< Précedent' %>
          <%= link_to_next_page @matieres, 'Suivant >' %>

        </div>
      </div>
    </div>
  </div>
