<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @matiere.libelle %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @matiere.ecole_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @matiere.user_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @matiere.admin_id %>
</p>

<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
