<% etudiants.each do |etudiant| %>
    <tr>
        <td><%= etudiant.nom %></td>
        <td><%= etudiant.matricule %></td>
        <td><%= etudiant.num_inscription %></td>
        <td><%= etudiant.classe_room.libelle %></td>
        <td><%= etudiant.oriente %></td>
        <td><%= etudiant.ecole.libelle %></td>
        <td><%= link_to 'Versement', etudiant_versements_path(etudiant) %></td>
        <td><%= link_to 'Show', etudiant %></td>
        <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
        <% end %>
    </tr>
<% end %>