<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <div class="card-header">
        <h2 class="text-center">LISTE DES ETUDIANTS</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Matricule</th>
                    <th>Num inscription</th>
                    <th>Classe room</th>
                    <th>Oriente</th>
                    <th>Ecole</th>
                    <th colspan="4"></th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @etudiants.each do |etudiant| %>
                    <tr>
                      <td><%= etudiant.nom %></td>
                      <td><%= etudiant.matricule %></td>
                      <td><%= etudiant.num_inscription %></td>
                      <td><%= etudiant.classe_room.libelle %></td>
                      <td><%= etudiant.oriente %></td>
                      <td><%= etudiant.ecole.libelle %></td>
                      <td><%= link_to 'Versement', etudiant_versements_path(etudiant) %></td>
                      <td><%= link_to 'Show', etudiant %></td>
                      <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
                      <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
          
            <%= link_to 'Ajouter nouvel étudiant', new_etudiant_path, :class => 'btn btn-primary' %>
            <%= link_to 'RETOUR', :back, :class => 'btn btn-default' %>

              <%= link_to_previous_page @etudiants, '< Précedent' %>
              <%= link_to_next_page @etudiants, 'Suivant >' %>
              
        </div>
      </div>
    </div>
  </div>