<p id="notice"><%= notice %></p>

<h1>Etudiants</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Matricule</th>
      <th>Num inscription</th>
      <th>Classe room</th>
      <th>Oriente</th>
      <th>Nom parent</th>
      <th>Contact parent</th>
      <th>Lien parente</th>
      <th>Email parent</th>
      <th>Autre</th>
      <th>Ecole</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etudiants.each do |etudiant| %>
      <tr>
        <td><%= etudiant.nom %></td>
        <td><%= etudiant.matricule %></td>
        <td><%= etudiant.num_inscription %></td>
        <td><%= etudiant.classe_room_id %></td>
        <td><%= etudiant.oriente %></td>
        <td><%= etudiant.nom_parent %></td>
        <td><%= etudiant.contact_parent %></td>
        <td><%= etudiant.lien_parente %></td>
        <td><%= etudiant.email_parent %></td>
        <td><%= etudiant.autre %></td>
        <td><%= etudiant.ecole_id %></td>
        <td><%= link_to 'Show', etudiant %></td>
        <td><%= link_to 'Edit', edit_etudiant_path(etudiant) %></td>
        <td><%= link_to 'Destroy', etudiant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etudiant', new_etudiant_path %>
