<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="media">
        <%= image_tag(@etudiant.photo, class: "mr-3 img-responsive img-circle") if etudiant.photo%>
        <div class="media-body">
          <h4>
            <%= @etudiant.nom %>&nbsp;
            <%= @etudiant.prenom %>
          </h4>
          <p><%= @etudiant.nationnalite %> &nbsp;&nbsp; <%= @etudiant.sexe %></p>
        </div>
      </div>
      <p>Né le <%= @etudiant.date_naissance %></p>,&nbsp;
      <p>
        De matricule:
        <strong><%= @etudiant.matricule %></strong>
      </p>
      <p>
        Habite au:
        <%= @etudiant.adresse %>
      </p>
      <p><%= @etudiant.email %> - <%= @etudiant.contact %></p>
      <h5>INFORMATIONS SCOLAIRES</h5>
      <p>
        Numéro inscription:
        <strong><%= @etudiant.num_inscription %></strong><br>
        Ecole:
        <strong><%= @etudiant.ecole.libelle %></strong><br>
        Classe:
        <%= @etudiant.classe_room.libelle %><br>
        Orienté? <strong><%= @etudiant.oriente %></strong>
      </p>
      <h5>AUTRES INFOS UTILES</h5>
      <p>
        Maladies connues:<br>
        <%= @etudiant.maladie %>
      </p>
      <p>
        Nom parent:
        <%= @etudiant.nom_parent %>
      </p>
      <p>
        Contact parent:
        <%= @etudiant.contact_parent %>
      </p>
      <p>
        Lien parente:
        <%= @etudiant.lien_parente %>
      </p>
      <p>
        Email parent:
        <%= @etudiant.email_parent %>
      </p>
      <% unless @etudiant.dossiers.empty? %>
          <p><b>Dossiers fournis</b></p>
          <p><%= @etudiant.dossiers.map(&:libelle).join(' - ') %></p>
      <% end %>
      <p>
        Autre:
        <%= @etudiant.autre %>
      </p>
  </div>
</div>
<%= link_to 'RETOUR', etudiants_path, :class => 'btn btn-default' %>
