<p id="notice"><%= notice %></p>

<p>
  <strong>Tableau board:</strong>
  <%= @droit.tableau_board %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @droit.annee %>
</p>

<p>
  <strong>Utilisateur:</strong>
  <%= @droit.utilisateur %>
</p>

<p>
  <strong>Etudiant:</strong>
  <%= @droit.etudiant %>
</p>

<p>
  <strong>Emploi temps:</strong>
  <%= @droit.emploi_du_temps %>
</p>

<p>
  <strong>Versement:</strong>
  <%= @droit.versement %>
</p>

<p>
  <strong>Caisse:</strong>
  <%= @droit.caisse %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @droit.classe_room %>
</p>

<p>
  <strong>Matiere:</strong>
  <%= @droit.matiere %>
</p>

<p>
  <strong>Salle:</strong>
  <%= @droit.salle %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @droit.semestre %>
</p>

<p>
  <strong>Dossier:</strong>
  <%= @droit.dossier %>
</p>

<p>
  <strong>Enseignant:</strong>
  <%= @droit.enseignant %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @droit.admin %>
</p>

<p>
  <strong>User:</strong>
  <%= @droit.user_id %>
</p>

<%= link_to 'Edit', edit_droit_path(@droit) %> |
<%= link_to 'Back', droits_path %>
